body {
  background: rgb(217, 194, 239);
}

.App {
  max-width: 950px;
  margin: 0 auto;
}

.App-header {
  margin: 50px 0;
}

.logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}