.Dictionary {
    margin: 30px 30px;
}

.Dictionary h1 {
    background: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Dictionary section {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 20px 0;
}

.Dictionary input {
    background: white;
    width: 100%;
    border-radius: 6px;
    padding: 3px 2%;
    color: #333;
    border: 1px solid #ddd;
}

.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}


.Dictionary .results {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 20px 0;
}